
body {
  text-align: center;
  background-color:lightgrey;
}

#header {
  font-size: 30px;
  color: red; 
  text-align: center;
  font-weight: bold;
}

.editor-box{
  padding-top: 20px;
  max-width: 750px;
  left: 50%;
  margin: 0 auto;

}

#editor{
  background-color: yellow;
}

.space-box {
  max-width: 100%;
  padding: 15px;
  left: 50%;
  margin: 0 auto;
}
#preview {
  border-style: groove;
  border-width: thick;
  border-color: white;
  max-width: 600px;
  padding: 150px;
  left: 50%;
  margin: 0 auto;
  background-color: lightgreen;
  word-wrap: break-word;
}
